

#qr_card{
    width: 20rem; 
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
}

#btn_flash{
    width: 4rem;
    height: 4rem;
    --background:#b03b97;
    --border-color:black;
    color: white;
    margin-left: 41%;
}