form{
    font-style: oblique;
    color: rgb(223, 233, 229);
    border-radius: 5%;
}


ion-card{
    margin-top: 25%;
}
ion-card-header{
    font-style: normal;

}
ion-card-title{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}


#alerta{
    font-size:14px;
    text-align: start;
    margin-top: 3%;
    color:rgb(178, 163, 35);
    font-weight: bold;
    margin-left: 15px;
}



ion-img{
    
    margin-block-end: 20px;
}

