ion-card{
    margin-top: 25%;
    font-style: oblique;
    color: rgb(223, 233, 229);
    border-radius: 5%;
}

ion-card-title{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}
ion-card-header{
    font-style: normal;

}

#alerta{
    font-size:14px;
    text-align: start;
    margin-top: 3%;
    color:rgb(178, 163, 35);
    font-weight: bold;
    margin-left: 15px;
}

#letra{
    font-size: 20px;
    font-weight: bold;
    text-align: end;

}

ion-img{
    
    margin-block-end: 20px;
}

